@use "~@fider/assets/styles/variables.scss" as *;

#p-signin {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--smoke-gray-7);

  .text-title {
    font-family: var(--font-accent);
    font-size: 32px;
    font-weight: 700;
    color: var(--uab-green);
    margin-bottom: spacing(4);

  }

  .h-20 {
    color: var(--campus-green);
  }
}
