@use "~@fider/assets/styles/variables.scss" as *;

.c-hint {
  position: relative;
  padding: spacing(4);
  margin-bottom: spacing(2);
  color: var(--colors-gray-800);
  border-inline-start: 2px solid var(--colors-gray-800);
  background-color: var(--smoke-gray-15);
  text-align: left;

  span {
    flex: 1;
  }

  &__close {
    cursor: pointer;
  }
}
