@use "~@fider/assets/styles/variables.scss" as *;

.c-powered {
  text-align: center;

  a {
    color: var(--uab-green);
    font-size: 12px;
  }
  a:hover {
    color: var(--colors-gray-900);
  }
}
