html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;

  color: var(--colors-gray-800);
  background-color: var(--colors-gray-100);
  font-family: var(--font-primary, $font-base);
  font-size: var(--font-size-base, get("font.size.base"));
  line-height: 1.6;
}

code {
  font-family: $font-code;
}

body,
h1,
h2,
h3,
h4,
h5,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: var(--font-primary, $font-base);
  font-size: var(--font-size-base, get("font.size.base"));
}

a {
  color: var(--colors-gray-900);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-size: get("font.size.base");
}

img {
  height: 100%;
}

// Respect user's motion preferences
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
